:root {
  --color-primary: #ffffff;
  --color-secondary: rgb(0, 190, 250);

  --color-primary-darker: blue;
  --color-secondary-darker: rgb(0, 140, 180);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #252525;
  line-height: 1.9;
  overflow-x: hidden;
  background-color: var(--color-primary-darker);
}

html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 1rem;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-darker);
}
html::-webkit-scrollbar-track {
  background-color: var(--color-primary-darker);
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  border-bottom: solid 1px white;
  opacity: 0.8;
  background-color: darkblue;
}

/* nav and stickly class at the same time */

.nav__logo {
  height: 8rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-secondary-darker);
  color: #333;
}

/* header */

.header {
  text-align: center;
  height: 90.1vh;
  color: white;

  background-image: linear-gradient(
      to right,
      rgb(0, 0, 255, 0.8) 50%,
      rgb(0, 0, 255, 0.4)
    ),
    url(img/resume-writing.jpg);
  background-size: cover;
}
.header h1 {
  font-size: 45px;
  padding: 50px;
}
.header h2 {
  font-size: 25px;
  padding: 50px;
}
.fiver-btn {
  background-color: var(--color-secondary);
  margin: 55px;
  padding: 10px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #464444;
}
.fiver-btn:hover {
  background-color: var(--color-secondary-darker);
  color: #c7c7c7;
}

.scroll-btn {
  display: block;
  margin: auto;
  border: none;
  background: none;
  color: white;
  font-size: 18px;
}
.scroll-btn:hover {
  border-bottom: solid 1px white;
}

/* section */

.section1 {
  padding: 40px;
  background-color: #ffffff;
  text-align: center;
}

.section1 h1 {
  padding: 20px;
  font-size: 3rem;
  color: #252525;
}
.section1 h2 {
  font-size: 25px;
  color: #333;
  padding: 20px;
}

.section1 p {
  text-align: left;
  font-size: medium;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section1 img {
  max-height: 520px;
  filter: drop-shadow(1px 1px 2px #333);
}

/* Footer */

.footer {
  height: 60vh;
  background-color: var(--color-primary-darker);
  text-align: center;
}
.footer h1 {
  font-size: 50px;
  margin-left: 10px;
  padding-bottom: 10px;
  color: white;

  border-bottom: solid 1px white;
}
.footer div {
  display: flex;
  column-gap: 20px;
  float: left;
  padding: 20px;
  margin: 20px;
}
.footer div h3 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  color: white;
}

.footer div a {
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  display: block;
  color: #000000;
  color: white;
}

.footer-logo {
  text-align: right;
}
.footer-logo {
  margin: 50px;
  float: right;
  height: 8rem;
}

.footer p {
  color: white;

  display: block;
}
.social-link {
  height: 40px;
  margin: 20px;
}
.footer h4 {
  font-size: medium;
  color: white;

  margin-top: 50px;

  padding: 20px;
} /* ------ */

@media only screen and (max-width: 750px) {
  /* nav menu */

  .nav__logo {
    height: 4rem;
    padding-right: 5rem;
    transition: all 0.3s;
    filter: drop-shadow(2px 2px 8px var(--color-secondary));
  }

  .nav__item {
    margin-left: 2.4rem;
  }

  .nav__link:link,
  .nav__link:visited {
    text-align: center;
    font-size: 0.9rem;
    font-weight: lighter;
  }

  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
  }

  .nav__link--btn:hover,
  .nav__link--btn:active {
    background-color: var(--color-secondary);
  }

  .header {
    overflow-x: hidden;
  }
  /* header */

  .header {
    height: auto;
  }
  .header h1 {
    font-size: 25px;
    padding: 30px;
  }
  .header h2 {
    font-size: 18px;
    padding: 30px;
  }
  .fiver-btn {
    background-color: var(--color-secondary);
    margin: 35px;
    height: 32px;
    font-size: 11px;
  }
  .fiver-btn:hover {
    background-color: var(--color-secondary);
    color: #494848;
  }

  .scroll-btn {
    font-size: 12px;
    padding: 10px;
  }
  .scroll-btn:hover {
    border-bottom: none;
  }

  /* section */

  .section1 {
    padding: 20px;
  }

  .section1 h1 {
    padding: 10px;
    font-size: 1.5rem;
  }
  .section1 h2 {
    font-size: 13px;
    padding: 9px;
  }

  .section1 p {
    font-size: smaller;
  }
  .container {
    grid-template-columns: 60% 40%;
  }
  .section1 img {
    max-height: 320px;
  }

  /* Footer */

  .footer {
    height: auto;
  }
  .footer h1 {
    font-size: 20px;
  }
  .footer div {
    column-gap: 5px;

    padding: 10px;
    margin: 10px;
  }
  .footer div h3 {
    font-size: 10px;
    color: #333;
    font-weight: bold;
    color: white;
  }

  .footer div a {
    font-size: 7px;
  }

  .footer-logo {
    margin: 15px;
    height: 3rem;
  }

  .social-link {
    height: 20px;
    margin: 8px;
  }
  .footer h4 {
    font-size: 12px;
    color: white;

    margin-top: 30px;

    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .header-title {
    padding: 10px;
    font-size: 2.5rem;

    top: 350px;
  }
}
@media only screen and (max-height: 750px) {
  .header-title {
    padding: 10px;
    font-size: 4.5rem;

    top: 350px;
  }
}
